.container {
  position: absolute;
  left: 20px;
  right: 0px;
  top: 20px;
  margin-right: auto;
  width: 120px;
  display: grid;
}

.colorPickerButton {
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}
